{% extends 'base.html' %}

{% block title %}Chat Rooms{% endblock %}

{% block content %}
    <div id="app" class="container mt-4" >
        <div  class="card">
        
            <div class="card-header">What chat room would you like to enter?</div>
            
            <div class="card-body">
                <input id="room-name-input" class="mb-2 form-control" v-model="roomName" type="text" size="100"><br>
                <input id="room-name-submit" class="form-control btn btn-primary col-md-12" type="button" value="Enter">
            </div>
        </div>
    </div>

{% endblock %}
    
{% block script %}
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
{% endblock %}
